<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.2.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Ninject" version="3.3.4" targetFramework="net462" />
  <package id="Ninject.Extensions.NamedScope" version="3.3.0" targetFramework="net462" />
  <package id="Ninject.Web.Common" version="3.3.0" targetFramework="net462" />
  <package id="Ninject.Web.Common.SelfHost" version="3.3.0" targetFramework="net462" />
  <package id="Ninject.Web.WebApi" version="3.3.0" targetFramework="net462" />
  <package id="Ninject.Web.WebApi.SelfHost" version="3.3.0" targetFramework="net462" />
  <package id="NLog" version="4.4.12" targetFramework="net462" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net462" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net462" />
  <package id="uHttpSharp" version="0.1.6.22" targetFramework="net462" />
</packages>